.decoration-error {
  text-decoration: underline wavy rgb(255, 72, 0);
  text-underline-offset: 3px;
}

.decoration-lineNumber {
  text-decoration: underline rgb(0, 38, 255);
}

// .decoration-playSym {
//   font-weight: bold;
//   color: rgb(39, 140, 89) !important;
//   // text-decoration: underline springgreen;
//   text-underline-offset: 3px;
// }

// .decoration-playSymDual_0 {
//   font-weight: bold;
//   color: rgb(39, 140, 89) !important;
//   // text-decoration: underline springgreen;
//   text-underline-offset: 3px;
// }

// .decoration-playSymDual_1 {
//   font-weight: bold;
//   color: rgb(39, 140, 89) !important;
//   // text-decoration: underline springgreen;
//   text-underline-offset: 3px;
// }

// .decoration-playSymDual_2 {
//   font-weight: bold;
//   color: rgb(39, 140, 89) !important;
//   // text-decoration: underline springgreen;
//   text-underline-offset: 3px;
// }