$light-theme: (
  body-background: #ffffff,
  body-color: #514e4e,
  body-color-bright: #474747,
  about-background: #6cb8a1,
  about-color: #6cb8a1,
  section: (
    background: #ffffff,
    color: #514e4e
  ),
  area: (
    border-bottom: 1px solid #aeaeae
  ),
  editorDecoration: (
    playSym-color: rgb(186, 3, 3),
    // playSym-color-back: rgb(131, 133, 5),
  )
);




